.expenses4 {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 32px;
  line-height: 48px;
  font-family: Lexend;
}
.search-icon3 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.search3 {
  position: relative;
  line-height: 22px;
}
.textbox-133 {
  position: absolute;
  top: 38px;
  left: 798px;
  border-radius: 4px;
  background-color: #f0f6ff;
  width: 321px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 12px;
  box-sizing: border-box;
  gap: 6px;
  color: #3c8aff;
}
.detailed-report3 {
  position: absolute;
  top: 24px;
  left: 68px;
  font-size: 24px;
  line-height: 36px;
  font-family: Lexend;
}
.file-text-23 {
  position: absolute;
  top: 30px;
  left: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.funnel-icon3 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -16px;
}
.button-533,
.button-543 {
  position: absolute;
  top: 30px;
  left: 922px;
  border-radius: 8px;
  background-color: #f3f4f6;
  width: 36px;
  height: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px 0 26px;
  box-sizing: border-box;
  color: #565d6d;
}
.button-543 {
  left: 974px;
  background-color: #f0f6ff;
  width: 89px;
  padding: 0 12px;
  gap: 6px;
  color: #0068ff;
}
.date3 {
  width: 315.8px;
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.frame148 {
  width: 339.8px;
  background-color: #fafafb;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 69.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.value3 {
  width: 125.2px;
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.frame149 {
  width: 149.2px;
  background-color: #fafafb;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 69.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tag6 {
  width: 211.2px;
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.frame150 {
  width: 235.2px;
  background-color: #fafafb;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 69.8px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.frame150,
.frame152,
.header3 {
  display: flex;
  align-items: center;
}
.header3 {
  position: absolute;
  height: 16.38%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.62%;
  left: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  font-family: Lexend;
}
.frame152 {
  width: 339.8px;
  background-color: #fff;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 88.8px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  color: #9095a1;
}
.div54 {
  width: 125.2px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.frame153 {
  width: 149.2px;
  background-color: #fff;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 88.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.salary {
  position: relative;
  line-height: 20px;
}
.frame154,
.frame155,
.tag7 {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame155 {
  border-radius: 14px;
  background-color: #eefdf3;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame154,
.tag7 {
  background-color: transparent;
}
.frame154 {
  width: 235.2px;
  background-color: #fff;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 88.8px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 12px;
  font-size: 12px;
  color: #117b34;
}
.salary-to-nisarg {
  width: 315.8px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.frame156,
.row7 {
  display: flex;
  align-items: center;
}
.frame156 {
  width: 339.8px;
  background-color: #fff;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 88.8px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.row7 {
  position: absolute;
  height: 20.9%;
  width: 100%;
  top: 16.38%;
  right: 0;
  bottom: 62.71%;
  left: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
}
.frame159,
.frame160,
.tag8 {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame160 {
  border-radius: 14px;
  background-color: #fdf2f2;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame159,
.tag8 {
  background-color: transparent;
}
.frame159 {
  width: 235.2px;
  background-color: #fff;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  box-sizing: border-box;
  height: 88.8px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 12px;
  font-size: 12px;
  color: #de3b40;
}
.row8 {
  position: absolute;
  height: 20.9%;
  width: 100%;
  top: 37.29%;
  right: 0;
  bottom: 41.81%;
  left: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.add-circle-13 {
  position: absolute;
  top: 446px;
  left: 515px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.container-611,
.table-43 {
  box-sizing: border-box;
  overflow: hidden;
}
.table-43 {
  width: 1065px;
  position: relative;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #dee1e6;
  height: 421px;
  flex-shrink: 0;
}
.container-611 {
  position: absolute;
  top: 74px;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #f3f4f6;
  width: 1088px;
  height: 1170px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 2px 0;
  color: #171a1f;
}
.container-551,
.container-601 {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
}
.container-601 {
  top: 93px;
  left: 32px;
  border: 1px solid #f3f4f6;
  box-sizing: border-box;
  width: 1088px;
  height: 1244px;
  color: #323743;
}
.container-551 {
  top: 0;
  left: 288px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 1152px;
  height: 1370px;
  overflow: hidden;
}
.working-space3 {
  position: absolute;
  top: 93px;
  left: 27px;
  line-height: 22px;
  font-family: Lexend;
  color: #6f7787;
}
.companyexamplecom3 {
  position: absolute;
  top: 1315px;
  left: 88px;
  font-size: 12px;
  line-height: 20px;
  color: #9095a1;
}
.avatar-9-icon3 {
  position: absolute;
  top: 1293px;
  left: 25px;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  overflow: hidden;
  object-fit: cover;
}
.sergey-goldberg3 {
  position: absolute;
  top: 1293px;
  left: 88px;
  line-height: 22px;
  font-weight: 600;
}
.image-2-icon5 {
  width: 38px;
  position: relative;
  height: 40px;
}
.dms6 {
  position: relative;
  line-height: 42px;
}
.image-2-parent2 {
  position: absolute;
  top: 17px;
  left: 27px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 28px;
  font-family: Lexend;
}
.expenses-child {
  position: absolute;
  top: 369px;
  left: 24px;
  max-height: 100%;
  width: 190px;
}
.dashboard5,
.layout-11-icon3 {
  position: relative;
  flex-shrink: 0;
}
.layout-11-icon3 {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashboard5 {
  width: 176px;
  line-height: 22px;
  display: inline-block;
}
.frame162 {
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  background-color: transparent;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 8px;
  color: inherit;
}
.frame162,
.frame165,
.sidebar-menu-63,
.sidebar-menu-73 {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame165 {
  text-decoration: none;
  border-radius: 8px;
  background-color: #0068ff;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 8px;
  color: #fff;
}
.sidebar-menu-63,
.sidebar-menu-73 {
  position: absolute;
  background-color: transparent;
  flex-direction: column;
  gap: 17px;
}
.sidebar-menu-63 {
  margin: 0;
  top: 137px;
  left: 24px;
  height: 325px;
  text-align: left;
  font-size: 14px;
  color: #565d6d;
  font-family: Manrope;
}
.sidebar-menu-73 {
  top: 38px;
  left: 0;
  height: 154px;
}
.worker3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-family: Lexend;
  color: #6f7787;
}
.add-circle-14 {
  position: absolute;
  top: 205px;
  left: 108px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.sidebar-menu-7-parent1 {
  position: absolute;
  top: 514px;
  left: 24px;
  width: 240px;
  height: 229px;
  color: #565d6d;
}
.expenses3 {
  width: 100%;
  position: relative;
  background-color: #fafafb;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  height: 1370px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #171a1f;
  font-family: Manrope;
}
